<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="container">
      <header>ArgoCD Test</header>
      <main>
        <div id="version">Version: <%= version %></div>
      </main>
    </div>
  </body>
</html>
