html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  color: white;
  background: darkblue;
  padding: 1rem;
}

main {
  padding: 1rem;
  flex: 1;
  display: flex;
}

#version {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  color: white;
  background-color: darkmagenta;
  padding: 1rem;
  border-radius: 1rem;
}
